<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.michalregulski.bmicalculator">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.BMIDetailsActivity"
            android:label="@string/title_activity_bmi_details" />
        <activity android:name=".view.BMIActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AboutActivity"
            android:parentActivityName=".view.BMIActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.BMIActivity" />
        </activity>
    </application>

</manifest>
